$font-size: (
  small: (
    h1: Clamp(1rem, 5vw, 2rem),
    h2: Clamp(1rem, 5vw, 2rem),
    h3: Clamp(1rem, 5vw, 2rem),
    h4: Clamp(1rem, 5vw, 2rem),
    h5: Clamp(1rem, 5vw, 2rem),
    h6: Clamp(1rem, 5vw, 2rem),
    p: Clamp(1rem, 5vw, 2rem),
    a: Clamp(1rem, 5vw, 2rem),
    button: Clamp(1rem, 5vw, 2rem),
  ),
);

$font-weight: (
  primary: (
    regular: 400,
    semi-bold: 600,
    bold: 700,
  ),
  accent: (
    semi-bold: 600,
    bold: 700,
  ),
);
