@use "./colors" as *;
@use "./fonts" as *;

:root {
  --grid-column: 6;
  --max-width: 50em;
  --grid-gap: 1rem;

  @each $type, $value in $colors {
    @each $number, $shade in $value {
      --clr-#{$type}-#{$number}: #{$shade};
    }
  }

  @each $type, $value in $font-weight {
    @each $weight, $number in $value {
      --fw-#{$type}-#{$weight}: #{$number};
    }
  }
}
